.results-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.results-list a:hover {
  transition: all 200ms;
  text-decoration: underline;
  transform: scale(1.1);
}

.result {
  margin: 20px;
}
