#nominations-complete,
#nominations-incomplete {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#nominations-complete {
  background-color: #008060;
  color: #ffffff;
  align-self: center;
}

#nominations-incomplete p,
#nominations-complete p {
  margin: 0;
}
