#movie-display {
  width: 100%;
  display: flex;
}

#movie-display > * {
  text-align: center;
  background-color: #ffffff;
  color: #212326;
  width: 45%;
  height: 70vh;
  overflow: scroll;
  border-radius: 2px;
  box-shadow: 2px 2px 25px 3px #ccc;
  margin: 15px auto;
}

@media screen and (max-width: 768px) {
  #movie-display {
    flex-direction: column;
  }

  #movie-display > * {
    width: 80%;
    margin-bottom: 30px;
  }
}
