li {
  list-style-type: none;
}

#movie-display {
  width: 100%;
  display: flex;
}

#movie-display > * {
  width: 50%;
}

@media screen and (max-width: 768px) {
  #movie-display {
    flex-direction: column;
  }

  #movie-display > * {
    width: 100%;
    min-height: 30vh;
  }
}
